!Binaries/**/*
!Binaries/**/*.dll
!Binaries/**/*.lib
!Intermediate/**/*
!Intermediate
!Source/ThirdParty
!Source/ThirdParty/**/*.dll
!Source/ThirdParty/**/*.lib
!Source/ThirdParty/**/*.exe
!Utils/*.exe
!Utils

#Exclude OWL Livestreaming Toolkit rebuild files
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkit/Definitions.LivestreamingToolkit.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkit/Definitions.LivestreamingToolkit.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkitEditor/Definitions.LivestreamingToolkitEditor.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkitEditor/Definitions.LivestreamingToolkitEditor.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkitShaders/Definitions.LivestreamingToolkitShaders.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/LivestreamingToolkitShaders/Definitions.LivestreamingToolkitShaders.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWL360Camera/Definitions.OWL360Camera.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWL360Camera/Definitions.OWL360Camera.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLCamera/Definitions.OWLCamera.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLCamera/Definitions.OWLCamera.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLComposure/Definitions.OWLComposure.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLComposure/Definitions.OWLComposure.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLMedia/Definitions.OWLMedia.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLMedia/Definitions.OWLMedia.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLNDI/Definitions.OWLNDI.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLNDI/Definitions.OWLNDI.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLScreenCapture/Definitions.OWLScreenCapture.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLScreenCapture/Definitions.OWLScreenCapture.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLSpout/Definitions.OWLSpout.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLSpout/Definitions.OWLSpout.h.old
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLVirtualWebcam/Definitions.OWLVirtualWebcam.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/OWLVirtualWebcam/Definitions.OWLVirtualWebcam.h.old